@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;1,200;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Volkhov:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none !important;
}

.container_css {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}


/* font size  */
:root {
    --fs-xxs: 13px;
    --fs-xs: 14px;
    --fs-sm: 16px;
    --fs-smm: 17px;
    --fs-xxmd: 18px;
    --fs-xmd: 20px;
    --fs-md: 20px;
    --fs-lg: 21px;
    --fs-sxl: 22px;
    --fs-xl: 33px;
    --fs-xxl: 44px;
    --fs-2xl: 50px;
    --fs-3xl: 84px;
    --ff-inter: 'inter';
    --ff-poppins: 'poppins';
    --ff-sen: 'Google Sans';
    --ff-volkhov: 'Volkhov', serif;
    --color-darkbluelight: #212832;
    --color-lightblue: #5E6282;
    --color-darkblack: #181E4B;
    --color-darkblue: #14183E;
    --color-orange: #DF6951;
    --color-lightgray: #686D77;
    --color-lightblues: #1E1D4C;
    --color-darknight: #080809;
    --color-grayday: #84829A;
    --color-parpale: #8A79DF;
    --color-gray: #39425D;
    --color-white: #FFFFFF;
    --section-bg: #FAF8ED;
    --bg-orange: #f66f4d;

}


.color_white {
    color: var(--color-white);
}

.light_gray {
    color: var(--color-gray);
}

.color_parpale {
    color: var(--color-parpale);
}

.color_darkblue {
    color: var(--color-darkblue);
}

.color_grayday {
    color: var(--color-grayday);
}

.color_darknight {
    color: var(--color-darknight);
}

.color_lightgray {
    color: var(--color-lightgray);
}

.fs_xxs {
    font-size: var(--fs-xxs);
}

.fs_xs {
    font-size: var(--fs-xs);
}

.fs_sm {
    font-size: var(--fs-sm);
}

.fs_smm {
    font-size: var(--fs-smm);
}

.fs_xxmd {
    font-size: var(--fs-xxmd);
}

.fs_xmd {
    font-size: var(--fs-xmd);
}

.fs_md {
    font-size: var(--fs-md);
}

.fs_lg {
    font-size: var(--fs-lg);
}

.fs_sxl {
    font-size: var(--fs-sxl);
}

.fs_xl {
    font-size: var(--fs-xl);
}

.fs_xxl {
    font-size: var(--fs-xxl);
}

.fs-2xl {
    font-size: var(--fs-2xl)
}

.fs_3xl {
    font-size: var(--fs-3xl);
}

.ff_poppins {
    font-family: var(--ff-poppins);
}

.ff_inter {
    font-family: var(--ff-inter);
}

.ff_sen {
    font-family: var(--ff-sen);
}

.ff_valkhov {
    font-family: var(--ff-volkhov);
}

.color_darkblue {
    color: var(--color-darkblue);
}

.color_lightblue {
    color: var(--color-lightblue);
}

.color_lightblues {
    color: var(--color-lightblues);
}

.color_darkblack {
    color: var(--color-darkblack);
}

.color_orange {
    color: var(--color-orange);
}

.bg_orange {
    border-color: var(--bg-orange);
}

.section_bg {
    background-color: var(--section-bg);
}

/* navbar css  */
.dropbtn {
    background-color: #FFF1DA;
    border: none;
    outline: none;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.linebox {
    height: 40px;
    width: 40px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10;
}

nav .linebox span {
    height: 5px;
    width: 100%;
    margin-top: 6px;
    background-color: #080809;

}

.dropdown {
    position: relative;
    display: inline-block;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 5;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.modal {
    text-align: center;
    --bs-modal-width: 604px !important;
}

.modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.btn-primary {
    --bs-btn-bg: none !important;
    --bs-btn-border-color: none !important;
    --bs-btn-hover-bg: none !important;
    --bs-btn-active-bg: none !important;

}

.btn {
    --bs-btn-border-width: none !important;
}


/* header css  */
.herosection_bg {
    overflow: hidden;
    top: 0;
    right: 0;
}

.plane_position2 {
    right: 0%;
    top: 21%;
    z-index: -1;
    animation: plane 5s linear 0s infinite alternate;
}

@keyframes plane {
    from {
        right: 0px;
    }

    to {
        top: 100px;
        right: -100px;
    }
}

.plane_animation1 {
    top: 10%;
    left: 0%;
    animation: plane2 5s linear 0s infinite alternate;
}

@keyframes plane2 {
    from {
        left: 0px;
    }

    to {
        top: 50px;
        left: 100px;
    }
}

.traveller_img {
    transform: translate(-10%, 0%);
}

.shadow_box {
    transition: all 200ms ease-in;
}

.card_box:hover .shadow_box {
    background: #FFFFFF;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: 36px;

}

.orangebox_bg {
    display: none;
    transition: all 200ms ease-in;
}

.card_box:hover .orangebox_bg {
    display: unset;
    bottom: -10%;
    left: -15%;
    z-index: -1;
}
ul li a:hover{
    color: #14183E;
} 

.plus_img {
    right: 0;
    top: 0;
}

.enjoy_underline {
    position: relative;
}

.enjoy_underline::after {
    content: '';
    position: absolute;
    bottom: 15px;
    left: 15%;
    width: 100%;
    height: 100%;
    background-image: url(../image/png/decore.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100% 100%;
    z-index: -1;
}

/* header btn classes  */
.find_btn {
    color: white;
    padding: 18px 27px;
    background: #F1A501;
    border: 1px solid #F1A501;
    box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
    border-radius: 10px;
    transition: all 200ms ease-in-out;
}

.find_btn:hover {
    color: #F1A501;
    background-color: #FFFFFF;
}

.sign_up_btn {
    padding: 10px 22px;
    border: 1px solid #212832;
    border-radius: 5px;
}

.youtube_btn {
    color: #FFFFFF;
    background-color: crimson;
    padding: 6px 12px;
    border-radius: 4px;

}

/* MEDIA QUERY  */
@media (max-width:992px) {
    .nav_bar {
        position: fixed;
        margin-top: 20px;
        left: -100%;
        top: 0;
        width: 100%;
        height: 100%;
        line-height: 30px;
        flex-direction: column;
        background-color: #FFF1DA;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        z-index: 10;
    }

    .show {
        left: 0;

    }

    .column_lg_reverse {
        flex-direction: column-reverse;
    }


}